*.pem
.venv/
.vscode
.cfg
*ansible/files/*
*clab_images/*
*auto.tfvars
*.terraform
terraform.tfstate*
*.lock.hcl
*.venv*
*.vault*
*secrets.*
*vault_pass*
services.yaml*
env.hcl
env.sh
.terragrunt-cache/*
*clab_images/*
*terraform.tfvars%
*tfstate
*.terragrunt-cache*